*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{body{
    margin:0;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #4f46e5,
        #7c3aed,
        #0ea5e9
    );

    font-family:Arial,sans-serif;
}
    margin:0;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #4f46e5,
        #7c3aed,
        #0ea5e9
    );

    font-family:Arial,sans-serif;
}
.upload{
    margin-top:35px;
    display:block;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:420px;
    padding:40px;
    border-radius:20px;

    background:rgba(30,41,59,0.9);
    backdrop-filter:blur(12px);

    color:white;

    box-shadow:0 10px 35px rgba(0,0,0,0.4);
}
.login-box input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

.login-box button{
    width:100%;
    padding:14px;
    background:#00d4ff;
    color:white;
    border:none;
    border-radius:10px;
    font-size:17px;
    cursor:pointer;
    margin-top:10px;
    transition:.3s;
}

.login-box button:hover{
    background:#0099cc;
}

.login-box a{
    display:block;
    margin-top:15px;
    color:white;
    text-decoration:none;
    font-size:15px;
}

.login-box a:hover{
    color:yellow;
}